{% extends "base.html" %}

{% block title %}Toutes les offres de stages{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card border-0 shadow-sm p-3 mb-4">
            <h5 class="mb-3"><i class="bi bi-funnel"></i> Filtres</h5>
            <form>
                <div class="mb-3">
                    <label class="form-label">Ville</label>
                    <select class="form-select">
                        <option selected>Toutes les villes</option>
                        <option>Casablanca</option>
                        <option>Tanger</option>
                        <option>Rabat</option>
                        <option>Marrakech</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Domaine</label>
                    <select class="form-select">
                        <option selected>Tous les domaines</option>
                        <option>Génie Informatique</option>
                        <option>Génie Industriel</option>
                        <option>Systéme & Réseaux</option>
                        <option>Cybersécurité</option>
                       <option>Génie Eco-énergie et Ennvironnement Industriel</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Filtrer</button>
            </form>
        </div>
    </div>

    <div class="col-md-9">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h3>Offres disponibles</h3>
            <span class="text-muted">12 offres trouvées</span>
        </div>

        <div class="card border-0 shadow-sm mb-3">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title text-primary">Stage Ingénieur Cloud & DevOps</h5>
                    <span class="badge bg-light text-primary border border-primary">PFE</span>
                </div>
                <p class="mb-1"><strong>Entreprise :</strong> Orange Business Services</p>
                <p class="text-muted small"><i class="bi bi-geo-alt"></i> Casablanca • <i class="bi bi-calendar"></i> 4 à 6 mois</p>
                <p class="card-text">Nous recherchons un étudiant pour assister nos équipes sur le déploiement d'infrastructures AWS...</p>
                <div class="text-end">
                    <a href="#" class="btn btn-outline-primary btn-sm">Détails</a>
                    <a href="#" class="btn btn-primary btn-sm ms-2">Postuler</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
